@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #b5b5b5; */
  color: #073353;
}

html {
  @apply scroll-smooth;
}

.ant-input {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
}

.ant-form-item-label label {
  color: #506A82 !important;
}

.ant-tabs-nav::before {
  display: none;
}

.custom-tab .ant-tabs-content {
  position: static;
}

.custom-tab .ant-tabs-nav-list {
  gap: 30px;
}

.best-place-caraousel {
  box-shadow: 10px 10px 40px -4px #0733531A;
}

.best-place-caraousel .slick-arrow {
  background: #fff;
  padding: 32px;
  color: #B6C7D6;
  border-radius: 50px;
  opacity: 1;
  box-shadow: 10px 10px 50px 0px #19306157;

}

.best-place-caraousel .slick-next {
  transform: translate(38px, -20px) !important;
}

.best-place-caraousel .slick-prev {
  transform: translate(-40px, -20px) !important;
}

.best-place-caraousel .slick-next::after {
  transform: rotate(135deg) translate(2px, -33px);
}

.best-place-caraousel .slick-prev::after {
  transform: rotate(-45deg) translate(0px, 35px);
}

.inline-form .ant-form-item {
  margin-bottom: 0;
}

/* menu accordian styling */

#mobile-menu .ant-collapse-header-text {
  font-size: 18px;
  position: absolute;
  left: 42px;
  bottom: 9px;
  color: white;
}

#mobile-menu .ant-collapse-expand-icon {
  color: white;
}

#mobile-menu .ant-collapse {
  border: none;
  background: #726e6e2b;
}

#mobile-menu .ant-collapse-content-box {
  background: #07243a;
}

#mobile-menu .ant-collapse-content {
  border: none;
}

/* Modal Styling */
.ant-modal-title {
  font-size: 30px !important;
}

/* contact form fields */

.contact-popup input {
  border: 1px solid #ccc;
}

.contact-popup .ant-select-selector {
  border-radius: 50px;
}

.contact-popup .ant-select {
  height: 44px;
}

.contact-popup textarea {
  border-radius: 15px;
  border: 1px solid #ccc;
}

.contact-popup .ant-btn {
  width: 100%;
  border-radius: 50px;
  height: 48px;
}

/* Terms and conditions */

.terms-and-conditions h2 {
  font-size: 18px;
  color: #7133F4;
  margin: 30px 0;
}

.terms-and-conditions ul {
  list-style: disc;
  margin-bottom: 20px;
  padding-left: 15px;
}

.terms-and-conditions ol {
  margin-bottom: 20px;
  list-style: decimal;
  padding-left: 18px;

}

.terms-and-conditions ol li {
  margin-bottom: 18px;
  font-size: 14px;
}

.terms-and-conditions ul li {
  margin-bottom: 20px;
  font-size: 14px;
}